@charset "utf-8";

@font-face {
    font-family: 'GmarketSansBold';
    src: url("./public/fonts/GmarketSansTTFBold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url("./public/fonts/GmarketSansTTFMedium.ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'GmarketSansLight';
    src: url("./public/fonts/GmarketSansTTFLight.ttf");
    font-weight: lighter;
}

